{% extends "base.html" %}

{% block content %}
<header class="vh-100 hero-image" style="
background-image: url('https://media.tenor.com/WPqFfKvgIbUAAAAd/stars-train.gif');
background-repeat: no-repeat;
background-size: cover;">

    <div class="jumbotron jumbotron-fluid h-100" style="background-color: transparent;">

        <div class="container h-100 pt-5">
            <h1 class="display-3 text-light">Shoot4DataStars</h1>
            <p class="lead text-light">Predict a star's type based on data!</p>
            <a class="btn btn-info btn-lg" href="/predict" role="button">
                Let's Predict!
            </a>
            <a role="button" class="btn btn-outline-light btn-lg ml-3" href="/report">
                About the Data
            </a>
        </div>

    </div>
</header>


{% endblock content %}
